body {
    background-color: #fcfcfc;
    margin: 10px;
}

h1 {
    margin: 0px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 25px;
    padding-bottom: 5px;
}

.navbar, .content, .footer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .01) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1) !important;
}

.navbar {
    background-color: #fff;
    padding: 4px;
    border-radius: 0px;
    min-height: 50px;
    max-height: 50px;
    border: 1px solid #cacaca;
}

.navbar a {
    padding: 4px;
    font-size: 18px;
    position: relative;
    top: 3px;
}

.navbar .logo {
    background-image: url(/static/images/logo.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 10px;
    top: 8px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    display: inline;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.navbar .brand-name {
    font-size: 18px;
    display: inline;
    position: relative;
    left: 3px;
}

.navbar .links {
    display: inline;
    position: relative;
    left: 45px;
    top: 6px;
}

.content {
    border: 1px solid #cfcfcf;
    padding: 10px;
}

.footer {
    padding: 3px;
    margin-top: 10px;
}