/* Design: D1mK4; Development: D1mK4; E-mail: d1mk4x(at)gmail(dot)com */

html, body { background-color: #f4f4f4;}

h2 { border-bottom: 1px solid #cacaca; margin: 0px; margin-bottom: 4px; padding: 3px;}
a { color: #2B587A; text-decoration: none; cursor: pointer;}

table, body,input ,textarea{ font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; font-size: 11px; color:#000;}
body { margin: 0px; padding: 0px; direction: ltr;}

#main { width: 80%; margin-left: auto; margin-right: auto;}
#top-container { height: 36px; width: 100%; margin-bottom: 26px;}
#top-menu-container { display: inline-block; position: relative; left: 14px;}
#logo { display: inline-block;}
#logo img{ }
#logo img { border: 0;}
#logo img:hover { border: 0;}

#go_to_admin { position: fixed; float: left; padding-top: 10px; padding-left: 4px; z-index:1;}
#logout_of_admin { position: fixed; float: left; padding-top: 10px; padding-left: 118px;}

#top-menu { clear: both; font-family: "Tahoma", sans-serif; font-size: 17px; margin: 0 auto; padding-top: 8px;}
#top-menu ul { margin: 0; padding: 0; padding-left: 0px;}
#top-menu li { float: left; list-style-type: none; padding-right: 20px;}
#top-menu a { color: #525252;}
#top-menu a:hover { color: #cacaca; text-decoration: underline;}

#cp-menu { clear: both; font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; font-size: 11px; display: table; margin: 0 auto; padding-top: 8px;}
#cp-menu ul { margin: 0; padding: 0; padding-left: 30px;}
#cp-menu li { float: left; list-style-type: none; padding-right: 30px;}
#cp-menu a { color: #fff;}
#cp-menu a:hover { color: #cdcdcd;}

#padding { margin: 0 auto; padding-top: 45px; padding-bottom: 33px;}
#container { border-radius: 4px; background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 0px 2px #BABABA; padding: 10px; width: 95%;}
#page-title h1 { color: #545454; font-size: 21px;  margin: 0;  border-bottom: 1px solid #d4d4d4;  padding-bottom: 5px; padding-left: 5px;}
h1 { color: #545454; font-size: 21px;  margin: 0;  border-bottom: 1px solid #d4d4d4;  padding-bottom: 5px; padding-left: 5px;}

.news-block { padding-top: 10px; border-bottom: 1px dotted #dedede;}
.news-title { font-family: "Arial", sans-serif; font-size: 21px;}
.news-title a { color: #208dc4; text-decoration: none;}
.news-title a:hover { color: #208dc4; text-decoration: underline;}
.news-info { font-family: "Arial",sans-serif; font-size: 12px; color: #323232; padding: 5px; background-color: #D1D1D1; width: 100%; display: inline; position: relative; top: 6px; border: 1px solid #AAA8A8;}
.news-content { font-family: "Arial", sans-serif; font-size: 14px; color: #000000; position: relative; top: 7px;}
.news-content p { margin: 0; padding-top: 8px; padding-bottom: 8px;}

.server-block { background-color:#fff; padding-top: 10px; padding-left: 10px; border-bottom: 1px dotted #dedede; position: relative; padding-bottom: 8px; margin-bottom: 8px;}
.server-block-right-container { position: absolute; width: 127px; top: 10px; right: 10px;}
.server-block-right { background: url(/web/20111221204708/http://mctop.su/skins/Main/img/server-right-block-bg.png); border-radius: 3px; border: 1px solid #b9b9b9; height: 160px; font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; font-size: 11px; color: #000000; text-align: center;}
.server-number { background: url(/web/20111221204708/http://mctop.su/skins/Main/img/minecraft-cube.png) no-repeat; width: 66px; height: 73px; margin-left: 30px; margin-top: 20px;}
.server-number span { font-family: "Georgia", sans-serif; font-size: 55px; color: #ffffff; text-shadow: #000000 1px 1px;}
.server-votes { margin-top: 4px;}
.server-votes p { margin: 0; padding: 0;}

#server-vote-button a { display: block; background: url(/web/20111221204708/http://mctop.su/skins/Main/img/vote-button.png) no-repeat; width: 114px; font-family: "Arial", sans-serif; font-size: 12px; color: #535353; text-align: center; padding-top: 6px; padding-bottom: 6px; text-decoration: underline; margin: 25px auto; text-shadow: #ffffff 1px 1px;}
#server-vote-button a:hover { text-decoration: none;}
#server-vote-button a:active { padding-top: 8px; padding-bottom: 4px;}

.b-share .b-share-form-button { font-size: 11px !important; padding-top: 0px !important;}
.b-share-popup__i { font-size: 12px !important;}

.server-title { font-family: "Arial", sans-serif; font-size: 16px;}
.full.server-title { padding-bottom: 8px;}
.server-title a { color: #208dc4; text-decoration: none;}
.server-title a:hover { color: #208dc4; text-decoration: underline;}
.server-banner { padding-top: 3px; padding-bottom: 3px;}
.server-banner img { border: 0;}
.server-content { font-family: tahoma, arial, verdana, sans-serif, Lucida Sans; font-size: 11px; color: #000000;}
.full.server-content { padding-top: 8px; width: 776px;}
.server-content hr { border: 0; height: 1px; background-color: #b2b2b2; text-align: left;}
.server-content p { margin: 0; padding: 0; font-weight: bold;}
.server-content img { vertical-align: middle; border: 0;}
.server-content .normal { color: #000000; font-weight: normal;}
.server-content .green { color: #1fa700; font-weight: normal;}
.server-content .orange { color: #ff7e00; font-weight: normal;}
.server-content .red { color: #ff0000; font-weight: normal;}

#vk_comments-container { display: table; margin: 0 auto;}
#page-numbers { display: table; margin: 20px auto; height: 25px;}

.page span { background: url(/web/20111221204708/http://mctop.su/skins/Main/img/page-bg.png) no-repeat; width: 25px; text-align: center; display: block; font-family: "Tahoma", sans-serif; font-size: 14px; color: #535353; padding-top: 4px; padding-bottom: 4px; float: left; margin-right: 4px;}
.page a { background: url(/static/images/oldschool/page-bg-active.png) no-repeat; width: 25px; text-align: center; display: block; font-family: "Tahoma", sans-serif; font-size: 14px; color: #fff; padding-top: 3px; padding-bottom: 5px; float: left; margin-right: 4px; text-decoration: none;}
.page a:visited { color: #fff;}
.page a:hover { text-decoration: none;}

#counters { display: table; margin: 0 auto; padding-top: 15px; padding-bottom: 15px; position:fixed; left:140%; top:0;}
.counters-cell { float: left; padding-top: 10px; padding-left: 2px; padding-right: 2px;}
.counters-cell img { border: 0;}
#footer { background: url(/static/images/oldschool/footer-separator.png) repeat-x top; width: 100%; padding-top: 15px; padding-bottom: 15px; text-align: center; font-family: "Arial", sans-serif; font-size: 12px; color: #525252;}
#footer p { margin: 0;}
#footer a { color: #525252; text-decoration: underline;}
#footer a:hover { color: #0088cc; text-decoration: none;}

a:visited { color: #3a80f3;}
#fix_color{ color:#fff;}
#s-news { font-family: "Tahoma", sans-serif; font-size: 14px; color:#999999;}

.button { padding: 5px 15px 4px; margin: 0 1px; border: 0; font-size: 12px; font-family: Ubuntu, Tahoma, Arial; color: #fff; display: block-inline; float: left; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.button:active { -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .3); -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .3); box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .3); opacity: 1; margin: 1px 3px -1px;}
.button:hover { opacity: .9; cursor: pointer;}
.button{ background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999), color-stop(1, #888)); background: -webkit-linear-gradient(top, #999, #888); background: -moz-linear-gradient(top, #999, #888); background: -o-linear-gradient(top, #999, #888); background: -ms-linear-gradient(top, #999, #888 ); background: linear-gradient(top, #999, #888); -webkit-box-shadow: 0px 1px 0px #666; -moz-box-shadow: 0px 1px 0px #666; box-shadow: 0px 1px 0px #666; text-shadow: 0px 1px 0px #666;}

input , fieldset, textarea{ padding: 3px; background: #fff; border-radius: 2px; -o-border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; display: inline-block; border: 1px solid #c3c3c3; outline: 0; background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #fefefe), color-stop(0.05, #e2e2e2), color-stop(0.5, #fff)); background: -moz-linear-gradient(top, #fefefe 1%, #f8f0f5 4%, #fff 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#ffffff'); padding: 5px 8px; color: #9a9a9a; font-size: 12px; font-family: tahoma; margin: 0; display: block}
input:focus { background: #ffffe0;}
textarea:focus { background: #ffffe0;}
td{ padding:4px;}

div.message { margin: 0 0 15px 0; border-width: 1px; border-style: solid; border-radius: 5px; -o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #333; text-shadow: 0px 1px 0px #EEE; -o-text-shadow: 0px 1px 0px #EEE; -moz-text-shadow: 0px 1px 0px #EEE; -webkit-text-shadow: 0px 1px 0px #EEE; -webkit-box-shadow: 0px 1px 3px #CCC;}
div.message p { padding: 18px 20px 18px 50px; margin: 0; font-size: 13px; font-family: Tahoma; color: #555; background-repeat: no-repeat; background-position: 20px 20px;}
div.message p span { font-size: 15px; display: block; color: #333;}
div.message_error { border-color: #ff9999; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f3b1b1), color-stop(.99, #ffcece), color-stop(1, #ffe3e3)); background: -moz-linear-gradient(bottom, #f3b1b1 0%, #ffcece 98%, #ffe3e3 99%); background-color: #ffcece;}
div.message_error p { background-image: url('/static/images/oldschool/error.png'); text-shadow: 0px 1px 0px #DDD; -o-text-shadow: 0px 1px 0px #DDD; -moz-text-shadow: 0px 1px 0px #DDD; -webkit-text-shadow: 0px 1px 0px #DDD;}
div.message_success { border-color: #a5e39b; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c6fabd), color-stop(.99, #d5ffce), color-stop(1, #e3fddf)); background: -moz-linear-gradient(bottom, #c6fabd 0%, #d5ffce 98%, #e3fddf 99%); background-color: #d5ffce;}
div.message_success  p { background-image: url('/static/images/oldschool/success.png'); }
div.message_notice { border-color: #a6b7ed; background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cad4f8), color-stop(.99, #dbe3ff), color-stop(1, #e6ecff)); background: -moz-linear-gradient(bottom, #cad4f8 0%, #dbe3ff 98%, #e6ecff 99%); background-color: #dbe3ff;}
div.message_notice p { background-image: url('/static/images/oldschool/info.png'); }

footer { font-size: 12px; color: #000; }
.footer__row { padding-top: 5px; text-align: center; }
.footer__row a { font-size: 12px; color: #000; }
.footer__row a:hover { text-decoration: underline !important; }
ul.bNav { font-size: 11px; list-style: none; margin: 0; padding: 2px 0; text-align: center;}
.bNav li { display: inline; margin-left: 6px;}

ul { display: block; list-style-type: disc; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 40px;}
li { display: list-item; text-align: -webkit-match-parent;}
#search{ position:relative; left:110px; top:-15px; }

.header { padding-top: 10px; min-height: 70px; background-color:#fff; margin-left: auto; margin-right: auto; text-align: center; width: 100%; margin-bottom: 20px;}
.top-menu { text-transform: uppercase;padding: 20px; font-size: 18px;}
.top-menu a {margin: 5px; color: #000;text-shadow: 1px 1px 2px #a0fdff, 0 0 1em #8fe7ff; }
.top-menu a:hover {margin: 5px; color: #000;text-shadow: 1px 1px 2px #a29ea8, 0 0 1em #787881; }
.about p {font-size: 13px;}
.page-content { margin-bottom: 5px; margin-top: 5px; padding: 5px; border: 1px solid #cacaca;}