




/*
     FILE ARCHIVED ON 20:47:09 Dec 21, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:33:36 Nov 23, 2015.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "utf-8";
/* CSS Document */

.tooltip {
	background-color: #7c878c;
	border-radius: 3px;
	color: #ffffff;	
	display: none;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
	height: auto;
	margin: 0;
	padding: 5px;
	width: auto;
	z-index: 99;
}